*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #7FC7D9;
    text-align: center;
    animation: slidedown 500ms ease-out 0s 1 normal none;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.4vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    background-color: #DCF2F1;
    border-radius: 20px;
    border: none;
    font-size: 12vmin;
    color: #0F1035;
    animation: slidedown 500ms ease-out 0s 1 normal none;
   
}

#btn-restart {
    padding: 1rem;
    font-size: 1rem;
    border-radius: 2vmin;
    background-color: #DCF2F1;
    color: #0F1035;
    animation: slidedown 500ms ease-out 0s 1 normal none;
}

#btn-new {
    padding: 1rem;
    font-size: 1rem;
    border-radius: 2vmin;
    background-color: #DCF2F1;
    color: #0F1035;
    animation: slidedown 500ms ease-out 0s 1 normal none;
}

#msg {
    color: #0F1035;
    font-size: 8vmin;
    animation: slidedown 500ms ease-out 0s 1 normal none;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hide {
    display: none;
}

@keyframes slidedown {

    from {
        transform: translateY(-5vh)
    }

    to {
        transform: translateY(0);
    }
}